<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Scheduled for:</b>
  <%= @event.scheduled_for %>
</p>

<p>
  <b>Venue:</b>
  <% begin %>
   	<%= Venue.find(@event.venue_id)[:name] %>
  <% rescue %>
  	none
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
