<!DOCTYPE html>
<html>
<head>
  <title>Ucdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>UCDB</h1>
    <nav>
      <%= link_to "Directors", directors_url %> |
      <%= link_to "Movies", movies_url %>
    </nav>
  </header>

  <%= yield %>

  <footer>
    &copy;2013 CSPP 52553
  </footer>
</body>
</html>
