<!DOCTYPE html>
<html>
<head>
  <title>Meetup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Meetup</h1>
    <nav>
      <%= link_to "Venues", venues_url %> |
      <%= link_to "Events", events_url %> 
    </nav>
  </header>

<%= yield %>

  <footer>
    &copy;2013 Shawn R Stevens
  </footer>
</body>
</html>
